body {
    font-family: Tahoma, Geneva, sans-serif;
    color: #404040;
    background-color: #fafafa;
    text-align: center;
    margin: 0px;
}

h1 {
    font-weight: normal;
    text-align: center;
}

h2 {
    font-weight: normal;
}

input[type=button], input[type=submit], button {
    height: 34px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=radio], input[type=checkbox] {
    position: fixed;
    left: -9999px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    padding: 0px 4px;
    background-color: #e7e7e7;
    color: #bbbbbb;
    cursor: pointer;
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    background-color:#d0d0d0;
    color: #000000;
}

a {
    font-size: 14px;
    text-decoration: none;
}

.container {
    display:inline-block;
    text-align: center;
    max-width: 640px;
    padding: 5px 5px 20px;
    margin: 5px 5px 10px;
    background-color: #ffffff;
    border: 1px solid #666666;
    box-shadow: 5px 5px 3px #666666; 
}

.header {
    margin: 10px 0px 20px;
    overflow: hidden;
    text-align: right;
}

.main {
    position: relative;
    display: inline-block;
}

.width440 {
    width: 440px;
}

.header h1 {
    font-size: 32px;
    margin: 5px 10px;
}

.header button {
    padding: 2px 10px;
    height: auto;
}

.header button span.web {
    display: inline;
}

.header button span.phone {
    display: none;
}

.pop-up {
    box-shadow: 5px 5px 3px #666666;
    position: fixed;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #666666;
    overflow: hidden;
}

.pop-up .pu_bkgrnd {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

#frm_logout {
    display: inline;
}

#options {
    width: 420px;
    margin-left: -210px;
    margin-top: -232px;
    text-align: left;
    z-index: 10;
}

#options .restarts {
    border-bottom: 1px solid #666666;
}

#options .restarts button {
    margin-bottom: 5px;
}

.settings {
    padding: 0px;
    overflow: hidden;
}

.settings .setting {
    padding: 5px 0px;
    overflow: hidden;
}

.settings .setting .opt_title {
    float: left;
    display: block;
    width: 40%;
}

.settings .setting .opt_options {
    float: right;
    display: block;
    width: 60%;
    text-align: right;
}

.settings .setting .opt_options input[type=radio] + label {
    margin-bottom: 5px;
    margin-left: 5px;
}

.settings .setting .opt_options input[type=number]{
    width: 50px;
    font-size: 16px;
    text-align: right;
    margin-left: 5px;
}

.calculatorlink {
    float: left;
    margin-top:20px
}

.confirm {
    margin-top: 5px;
    float: right;
}

#options .confirm button {
    min-width: 70px;
}

#custom .setting .opt_options input[type=radio] + label {
    font-weight: bold;
}

#saveload {
    width: 450px;
    margin-left: -225px;
    margin-top: -78px;
    text-align: left;
    z-index: 20;
}

#saveload .confirm {
    margin-top: 0px;
}

#saveload .confirm button {
    width: auto;
}

.select {
    box-sizing: border-box;
    width: 100%;
    height: 122px;
    margin-bottom: 5px;
    border: 1px solid #a9a9a9;
    overflow-y: auto;
}

.select .option {
    padding: 3px;
    font-size: 12px;
    cursor: default;
    overflow: hidden;
}

.select .option.disabled {
    color: #a0a0a0;
}

.select .option.selected {
    background-color: #dddddd;
}

.select .option .save_date {
    float: right;
}

#login, #register {
    width: 320px;
    margin-left: -160px;
    margin-top: -100px;
}

#login h2, #register h2 {
    margin: 10px 0px;
}

#login .row, #register .row {
    overflow: hidden;
    margin: 0px auto 5px;
    max-width: 320px;
}

#login input, #register input {
    float: right;
}

#login span, #register span {
    float: left;
    margin-right: 5px;
}

#login .buttons, #register .buttons {
    text-align: right;
}

.pop-up.open, #general_pu.open, #mj_alert.open, #mj_confirm.open {
    animation: open_dialog_zoom 1s;
    -webkit-animation: open_dialog_zoom 1s;
}

.pop-up.close, #general_pu.close, #mj_alert.close, #mj_confirm.close {
    animation: close_dialog_zoom 1s;
    -webkit-animation: close_dialog_zoom 1s;
    transform: scale(0);
}

.closed {
    transform: scale(0);
}

@keyframes open_dialog_zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@keyframes close_dialog_zoom {
    from {transform: scale(1);}
    to {transform: scale(0);}
}

.mjtable {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    border-style: hidden;
    margin-top: 5px;
}

.mjtable div {
    display: table-row-group;
}

.mjtable div.head {
    display: table-header-group;
}

.mjtable div.foot {
    display: table-footer-group;
}

.mjtable div div {
    display: table-row;
}

.mjtable div div div {
    display: table-cell;
    border-right: 1px dotted #666666;
    font-family: "Trebuchet MS", Tahoma, Geneva, sans-serif;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.mjtable div.head div div {
    border-bottom: 1px solid #666666;
    overflow: hidden;
    cursor: pointer;
    font-weight: normal;
    width: 110px;
    text-align: center;
}

.mjtable div div.points_row div {
    background-color: #DDDDDD;
    font-size: 15px;
}

.mjtable div div div.inactive {
    background-color: #DDDDDD;
}

.mjtable div.foot div div {
    border-top: 1px solid #666666;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.mjtable div.foot div div input[type=text], 
.mjtable div.foot div div input[type=number] {
    width: 30px;
    text-align: right;
}

.mjtable div div div span.token {
    float: left;
    font-weight: bold;
    font-size: 16px;
}

.buttons {
    text-align: left;
    margin-top: 10px;
}

#mj_alert {
    width: 220px;
    margin-left: -110px;
    margin-top: -50px;
    padding: 30px;
    z-index: 30;
}

#mj_confirm {
    width: 280px;
    margin-left: -140px;
    margin-top: -70px;
    padding: 10px;
    z-index: 30;
}

#mj_prompt {
    width: 186px;
    margin-left: -93px;
    margin-top: -64px;
    padding: 10px;
    z-index: 30;
}

#mj_confirm #mj_confirm_question, #mj_prompt #mj_prompt_question {
    padding: 10px;
}

#mj_prompt .mj_prompt_answer {

}

#mj_prompt .mj_prompt_answer input {
    width: 160px;
    font-size: 16px;
}

#mj_confirm .confirm, #mj_prompt .confirm {
    margin-top: 10px;
    float: right;
}

#mj_confirm .confirm button, #mj_prompt .confirm button {
    width: 70px;
}

#goodwork {
    background-image: url(../img/goodwork.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 450px 450px;
    display: none; 
    position: fixed; 
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

@media (max-width : 460px) {
    .container {
	padding: 0px;
	margin: 0px;
	border: none;
	box-shadow: none;
    }
    
    .width440 {
	width: 100%;
    }
    
    .header {
	box-sizing: border-box;
	background-color: #e7e7e7;
	padding: 3px;
	height: 45px;
	margin: 0px;
	position: fixed;
	width: 100%;
	z-index: 999;
	text-align: left;
	border-bottom: solid 4px #ffffff;
    }
    
    .headerspacer {
	padding: 3px;
	height: 39px;
	margin: 0px;
    }

    .header h1 {
	font-size: 18px;
	margin: 7px 30px;
    }
    
    .header button {
	padding: 0 5px 8px;
	position: absolute;
	left: 7px;
	top: 7px;
    }

    .header button#btn_show_login, .header button#btn_logout {
	left: auto;
	right: 7px;
    }

    .header button span.web {
	display: none;
    }
    
    .header button span.phone {
	font-weight: bold;
	display: inline;
    }

    .header button#btn_saveload {
	margin-left: 30px;
    }
    
    .mjtable div.head {
	position: fixed;
	top: 45px;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	display: table;
	table-layout: fixed;
    }

    .mjtable div.head div {
	padding-top: 2px;
    }

    .mjtable div.head div div {
	width: auto;
    }

    .mjtable {
	margin-top:24px;
	width: 100%;
    }

    .main .pop-up {
	box-shadow: none;
	left: 0;
	width: 100%;
	margin-left:0px;
	border-style: none;
	border-bottom: 1px solid #666666;
	transform: none;
	z-index: 500;
    }

    .main .pop-up .pu_bkgrnd {
	display: none;
    }

    .main .pop-up#login, .main .pop-up#register {
	top: 45px;
    }
    
    #options {
	top: 41px;
	width: 100%;
	margin: 0px;
	max-height: calc(100vh - 41px);
	overflow-y: auto;
    }
    
    #options .settings .setting .opt_options input[type=radio] + label,
    #options .settings .setting .opt_options input[type=checkbox] + label {
	line-height: 30px;
    }
    
    #options #custom {
	top: 0;
	position: relative;
	width: 100%;
	margin: 0px;
    }

    #saveload {
	top: 41px;
	width: 100%;
	margin: 0px;
	max-height: calc(100vh - 41px);
	overflow-y: auto;
    }

    #login, #register {
	margin: 0px;
	width: 100%;
    }

    .main .pop-up.open {
	animation: open_dialog_dd 1s;
	-webkit-animation: open_dialog_dd 1s;
    }

    .main .pop-up.close {
	animation: close_dialog_dd 1s;
	-webkit-animation: close_dialog_dd 1s;
	transform: none;
	max-height: 0px !important;
	padding: 0px 5px;
	border-bottom-color: #ffffff;
    }
    
    .main .pop-up.closed {
	transform: none;
	max-height: 0px !important;
	padding: 0px 5px;
	border-bottom-color: #ffffff;
    }

    @keyframes open_dialog_dd {
	from {max-height: 0px; padding: 0px 5px; border-bottom-color: #ffffff;}
	to {max-height: 700px; padding: 5px 5px; border-bottom-color: #666666;}
    }
    
    @keyframes close_dialog_dd {
	from {max-height: 700px; padding: 5px 5px; border-bottom-color: #666666;}
	to {max-height: 0px; padding: 0px 5px; border-bottom-color: #ffffff;}
    }
    
    #goodwork {
	background-size: contain;
    }
}
